/* Selector universal */

*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Selector ID */

#contenedor {
    width: 1500px;
    height: 1050px;
    background-color: #4d83e7;
    margin-top: 1em;
    padding-top: 1em;
    border-radius: 10px;
}

#encabezado {
    height: 7%;
    background-color: #adf2fc;
    margin: 1em;
    padding: 1em;
    font: bold;
    font-family: Arial;
}


#menu {
    height: 5%;
    background-color: darkgray;
    margin: 1em auto;
    padding: 1em;
}


#contenido{
    height: 70%;
    width: 60%;
    background-color: cadetblue;
    margin: 0.5em;
    float: left;
}


#fueraSeccion{
    height: 69%;
    width: 36%;
    background-color: rgb(63, 228, 214);
    margin: 0.5em;
    float: right;
    padding: 0.4em;
}


#pie{
    width: 1470px;
    height: 5%;
    background-color: rgb(144, 151, 219);
    border-radius: 1em;
    margin: 1em auto;
    color: white;
    padding: 1em;
}

/* Selector de clase */
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;

}

.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    /*margin: auto 2em;*/
    padding: 0.5em;
}

.imagenes{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
}

.links{
    background-color: white;
    color: black;
    border: 2px solid #4481f3;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.botonHover:hover{
    background-color: #1660e9;
    color: white;
}

.articulos{
    text-decoration: none;
    display: inline-block;
}

.articulosHov:hover{
    background-color: white;
    color: black;
}

/* Selector de etiqueta */
ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

